@import '../../variables';

.leftSide_list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	a {
		text-decoration: none;
		color: white;
		width: 150px;
		height: 20px;
		&:hover {
			background-color: $text-gray-color;
		}
	}
}
