@import '../../variables.scss';

.main_nav {
	background-color: $sides-bg;
	border: 1px solid $border-color-sides;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	&_profile {
		position: relative;
		display: flex;
		column-gap: 10px;
		align-items: center;
	}
	&_logo {
		display: flex;
		align-items: center;
		column-gap: 10px;
		&-text {
			font-size: 20px;
			color: white;
		}
	}
	&_wrapper {
		display: flex;
		margin-left: 158px;
		column-gap: 588px;
		align-items: center;
		a {
			text-decoration: none;
		}
	}
}

.dropDownHeader {
	position: absolute;
	width: 160px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid $border-color-sides;
	top: 43px;
	left: -27px;
	background-color: $sides-bg;
	&_list {
		list-style-type: none;
		text-decoration: none;
		color: $text-gray-color;
	}
}
