@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 calc(20px - (100vw - 100%)) 0 0; 
	background-color: $main-color;
}
main {
	height: 100svh;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1045px;
	}
}
