@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $main-color;
}
main {
	height: 100svh;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1045px;
	}
}
